<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-6 col-md-8 col-sm-12 text-center mt-5 bumblebee-box">
        <h2 class="title"><fa name="key mr-2"></fa> Alterar senha</h2>
        <hr />
        <form clas="form-group">
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Senha atual" aria-label="Senha atual" aria-describedby="basic-addon1">
          </div>
  
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Nova senha" aria-label="Nova senha" aria-describedby="basic-addon1">
          </div>
  
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Repita a nova senha" aria-label="Repita a nova senha"
              aria-describedby="basic-addon1">
          </div>
  
          <button type="submit" class="btn btn-success container-fluid">Alterar</button>
        </form>
      </div>
    </div>
  </div>