<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-12 col-md-12 col-sm-12 mt-5 bumblebee-box bumblebee-box-not-found">
      <div class="text-center">
        <h2 class="title mb-4">
          <fa name="search mr-2"></fa>
          Ooo não!
          <div class="h5 text-muted">Não encontramos o que você procurou.</div>
        </h2>
      </div>

      <hr />

      <div class="row">
        <img [src]="photo" alt="Página não encontrada" class="mx-auto" />
      </div>

    </div>
  </div>
</div>