<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-12 col-md-12 col-sm-12 mt-5 bumblebee-box">
        <div class="text-center">
          <h2 class="title mb-4">
            <fa name="paw mr-1"></fa>
            <fa name="pencil mr-2" class="bumblebee-icon-join"></fa>
            Edição de pet
          </h2>
        </div>
  
        <hr />
  
        <form [formGroup]="editarPetForm" class="form-group mt-4" (submit)="editPet()">
  
          <div class="form-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
              <label for="nomeDoPet">Nome do seu pet</label>
              <input formControlName="nome" autofocus type="text" class="form-control" id="nomeDoPet" placeholder="Como você o(a) chama">
              <small *ngIf="editarPetForm.get('nome').errors?.required && editarPetForm.get('nome').touched" class="text-danger d-block">
                Por favor digite o nome do pet
              </small>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
              <label for="categoriaDoPet">Como se encontra?</label>
              <select formControlName="categoria" class="form-control" id="categoriaDoPet">
                <option value="">Selecione uma categoria...</option>
                <option *ngFor="let cat of listCategorias" value="{{ cat.id }}">{{ cat.descricao }}</option>
              </select>
              <small *ngIf="editarPetForm.get('categoria').errors?.required && editarPetForm.get('categoria').touched" class="text-danger d-block">
                Por favor selecione uma categoria onde seu pet se encaixe
              </small>
            </div>
          </div>
  
          <div class="form-group mt-4">
            <label for="descricaoDoPet">Descreva um pouco seu pet e/ou adicione observações</label>
            <textarea formControlName="descricao" class="form-control" id="descricaoDoPet" rows="3"></textarea>
            <small *ngIf="editarPetForm.get('descricao').errors?.required && editarPetForm.get('descricao').touched" class="text-danger d-block">
              Por favor descreva um pouco seu pet
            </small>
          </div>
  
          <div class="form-row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label for="porte">Qual o porte?</label>
              <select formControlName="porte" class="form-control" id="porte">
                <option value="">Selecione um porte...</option>
                <option *ngFor="let porte of listPortes" value="{{ porte.id }}">{{ porte.descricao }}</option>
              </select>
              <small *ngIf="editarPetForm.get('porte').errors?.required && editarPetForm.get('porte').touched" class="text-danger d-block">
                Por favor selecione o porte de seu pet
              </small>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 ">
              <label for="especie">Qual a espécie?</label>
              <select formControlName="especie" class="form-control" id="especie">
                <option value="">Selecione uma espécie...</option>
                <option *ngFor="let esp of listEspecies" value="{{ esp.id }}">{{ esp.descricao }}</option>
              </select>
              <small *ngIf="editarPetForm.get('especie').errors?.required && editarPetForm.get('especie').touched" class="text-danger d-block">
                Por favor selecione a espécie de seu pet
              </small>
            </div>
          </div>
  
          <div class="form-row mt-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label for="fotoPet">Envie até 5 fotos do seu pet...</label>
              <br />
              <input type="file" multiple id="fotoPet" (change)="onFileSelected($event)">
              <small class="text-info d-block mt-2">
                *Obs.: a primeira foto selecionada será a foto principal do seu pet!
              </small>
            </div>
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 text-center">
              <p>&ensp;</p>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" formControlName="sexo" value="macho" id="radioMacho" name="sexo" class="custom-control-input">
                <label class="custom-control-label" for="radioMacho">Macho</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" formControlName="sexo" value="femea" id="radioFemea" name="sexo" class="custom-control-input">
                <label class="custom-control-label" for="radioFemea">Fêmea</label>
              </div>
              <small *ngIf="editarPetForm.get('sexo').errors?.required && editarPetForm.get('sexo').touched" class="text-danger d-block">
                Por favor selecione o sexo do seu pet
              </small>
            </div>
          </div>
  
          <h4 class="mt-5">
            <fa name="map-marker"></fa> Localização
          </h4>
  
          <hr />
  
          <div class="form-row">
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label for="cep">CEP</label>
              <input type="text" formControlName="cep" class="form-control" id="cep" placeholder="Onde você perdeu/encontrou"
                (focusout)="updateCidadeAndUF()" mask="00.000-000" [showMaskTyped]="true">
            </div>
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <label for="rua">Rua</label>
              <input type="text" formControlName="rua" class="form-control" id="rua" placeholder="Onde você perdeu/encontrou">
            </div>
  
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
              <label for="uf">UF</label>
              <select formControlName="uf" class="form-control" id="uf">
                <option value="">Selecione uma UF...</option>
                <option *ngFor="let uf of listUF" [ngValue]="uf">{{ uf }}</option>
              </select>
            </div>
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
              <label for="cidade">Cidade</label>
              <select formControlName="cidade" class="form-control" id="cidade">
                <option value="">Selecione uma cidade...</option>
                <option *ngFor="let cidade of listCidades" [ngValue]="cidade">{{ cidade }}</option>
              </select>
            </div>
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3 ">
              <label for="bairro">Bairro</label>
              <input type="text" formControlName="bairro" class="form-control" id="bairro" placeholder="Onde você perdeu/encontrou">
            </div>
  
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 mt-3">
              <label for="referencia">Referência</label>
              <input formControlName="referencia" type="text" class="form-control" id="referencia" placeholder="Onde você perdeu/encontrou">
            </div>
  
          </div>
  
          <button [disabled]="editarPetForm.invalid" type="submit" class="btn btn-success container-fluid mt-5">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>