<img class="card-img-top bumblebee-card-image-pet" src="http://placekitten.com/200/200/" alt="Card image cap">
<div class="card-body">
    <h5 class="card-title">Jubileu</h5>
    <p class="card-text">Gatinho dócil e simpático, gosta de comer uns ratinhos as vezes
        e tenta se matar comendo bolas de pelos.</p>
    <p class="card-text"><small class="text-muted">Cadastrado dia 01/01/2018</small></p>
</div>

<!-- <div class="card mb-4 box-shadow">
    <img class="card-img-top" [src]="photo" alt="Card image cap">
    <div class="card-body">
        <h3 class="mb-0">
        <a class="text-dark" [routerLink]="['/pet', pet.id]">{{ pet.nome }}</a>
        </h3>
        <p class="card-text mb-auto">{{ pet.descricao }}</p>
    </div>
</div> -->