<header class="mb-4 mb-sm-0">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bumblebee-header mt-3" appBgColor (clickOutside)="isCollapsed = true">
    <div class="container">

      <a class="navbar-brand" [routerLink]="['/']">
        <img [src]="bumblebee" alt="Bumblebee" class="rounded-circle bumblebee-logo" />
        <img [src]="logo" alt="Bumblebee Pets" class="bumblebee-logo-text" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" attr-aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        Menu <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [collapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">
              <fa name="home"></fa> Início <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pet/categoria/todos']">Buscar pets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cad/pet']">Cadastrar um pet</a>
          </li>
        </ul>

        <!-- NÃO AUTENTICADO -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cad/user']">Cadastre-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
        </ul>

        <!-- AUTENTICADO -->
        <ul class="navbar-nav">
          <li class="dropdown" dropdown>
            <a class="nav-link dropdown-toggle" dropdownToggle (click)="false" href id="navbarDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Minha conta
            </a>
            <div *dropdownMenu appBgColor class="dropdown-menu bumblebee-dropdown-menu-user" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/perfil/user']">
                <fa name="user mr-2"></fa>Meu perfil
              </a>
              <a class="dropdown-item" [routerLink]="['/user/pets']">
                <fa name="paw mr-2"></fa>Meus pets
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <fa name="power-off mr-2"></fa>Sair
              </a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <nav class="fixed-top" appBgColor="#141a24">
    <div class="container text-right pr-4 bumblebee-acessibility">
        <span class="mr-2" (click)="alterarFonte('menos')"><strong>A-</strong></span>
        <span class="mr-2" (click)="alterarFonte('normal')"><strong>A</strong></span>
        <span class="mr-2" (click)="alterarFonte('mais')"><strong>A+</strong></span>
        <span><fa name="adjust" (click)="autoContraste()"></fa></span>
    </div>
  </nav>

</header>