<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 col-md-8 col-sm-12 text-center mt-5 bumblebee-login">
            <h2 class="title">Login</h2>
            <hr />
            <form clas="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i>#</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1">
                </div>

                <button type="submit" class="btn btn-success container-fluid">Cadastrar</button>

                <div class="container mt-3">
                    <a href="#">Esqueceu sua senha?</a>
                    <br />
                    <a href="/cad/user">Cadastre-se!</a>
                </div>
            </form>
        </div>
    </div>
</div>