@import "../../../styles/variables";

.bumblebee-card-single {
    text-align: center;
    margin: 80px 20px 30px 20px;
    min-height: 300px;
    border: 2px solid rgb(223, 223, 223);
    background-color: #fff;

    @media (min-width: $smSize) {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: $mdSize) {
        width: 310px;
    }
    @media (min-width: $lgSize) {
        width: 280px;
    }
    @media (min-width: $xlSize) {
        width: 320px;
    }
}