<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 text-center mt-5 bumblebee-box">
      <h2 class="title">
        <fa name="key mr-2"></fa> Esqueceu sua senha?
      </h2>
      <small class="text-muted h6">
        Digite seu e-mail para receber instruções de recuperação de senha.
      </small>
      <hr />
      <form class="form-group" [formGroup]="senhaPerdidaForm" (click)="recuperarSenha()">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <fa name="at"></fa>
              </span>
            </div>
            <input formControlName="email" type="text" class="form-control" placeholder="E-mail" aria-label="E-mail"
              aria-describedby="basic-addon1" autofocus>
          </div>
          <small *ngIf="senhaPerdidaForm.get('email').errors?.required && senhaPerdidaForm.get('email').touched" class="text-danger d-block">
            Por favor digite seu e-mail
          </small>
          <small *ngIf="senhaPerdidaForm.get('email').errors?.email && senhaPerdidaForm.get('email').touched" class="text-danger d-block">
            Por favor digite um e-mail válido
          </small>
        </div>

        <button [disabled]="senhaPerdidaForm.invalid" type="submit" class="btn btn-success container-fluid">Enviar</button>
      </form>
    </div>
  </div>
</div>