<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 text-center mt-5 bumblebee-login">
      <h2 class="title">
        <fa name="key mr-2"></fa> Esqueceu sua senha?
      </h2>
      <small class="text-muted h6">
        Digite seu e-mail para receber instruções de recuperação de senha.
      </small>
      <hr />
      <form clas="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <fa name="at"></fa>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
        </div>

        <button type="submit" class="btn btn-success container-fluid">Enviar</button>
      </form>
    </div>
  </div>
</div>