<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 text-center mt-5 bumblebee-box">
      <h2 class="title"><fa name="user-plus mr-2"></fa> Cadastre-se</h2>
      <hr />
      <form [formGroup]="cadastroForm" class="form-group" (submit)="cadastraUsuario()">
          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                          <fa name="at"></fa>
                      </span>
                  </div>
                  <input formControlName="email" type="text" class="form-control" placeholder="E-mail" aria-label="E-mail"
                      aria-describedby="basic-addon1" autofocus>
              </div>

              <small *ngIf="cadastroForm.get('email').errors?.required && cadastroForm.get('email').touched" class="text-danger d-block">
                  Por favor digite o email
              </small>
          </div>


          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                          <fa name="user"></fa>
                      </span>
                  </div>
                  <input formControlName="nome" type="text" class="form-control" placeholder="Nome" aria-label="nome"
                      aria-describedby="basic-addon1" autofocus>
              </div>

              <small *ngIf="cadastroForm.get('nome').errors?.required && cadastroForm.get('nome').touched" class="text-danger d-block">
                  Por favor digite o nome
              </small>
          </div>


          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                          <fa name="phone"></fa>
                      </span>
                  </div>
                  <input formControlName="telefone" type="text" class="form-control" placeholder="Telefone" aria-label="telefone"
                      aria-describedby="basic-addon1" autofocus>
              </div>

              <small *ngIf="cadastroForm.get('telefone').errors?.required && cadastroForm.get('telefone').touched" class="text-danger d-block">
                  Por favor digite o telefone
              </small>
          </div>


          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                          <fa name="key"></fa>
                      </span>
                  </div>
                  <input formControlName="senha" type="password" class="form-control" placeholder="Senha" aria-label="senha"
                      aria-describedby="basic-addon1" autofocus>
              </div>

              <small *ngIf="cadastroForm.get('senha').errors?.required && cadastroForm.get('senha').touched" class="text-danger d-block">
                  Por favor digite a senha
              </small>
          </div>

          <div class="form-group">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">
                          <fa name="key"></fa>
                      </span>
                  </div>
                  <input formControlName="confirmacaoSenha" type="password" class="form-control" placeholder="Senha" aria-label="senha"
                      aria-describedby="basic-addon1" autofocus>
              </div>

              <small *ngIf="cadastroForm.get('confirmacaoSenha').errors?.required && cadastroForm.get('confirmacaoSenha').touched" class="text-danger d-block">
                  Por favor confirme a senha
              </small>
          </div>

        <button [disabled]="cadastroForm.invalid" type="submit" class="btn btn-success container-fluid">Cadastrar</button>

        <div class="container mt-3">
          Já tem cadastro? <a [routerLink]="['/login']">Acesse aqui!</a>
        </div>
      </form>
    </div>
  </div>
</div>