<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 text-center mt-5 bumblebee-cad">
      <h2 class="title"><fa name="user-plus mr-2"></fa> Cadastre-se</h2>
      <hr />
      <form clas="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><fa name="at"></fa> </span>
          </div>
          <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Telefone" aria-label="Telefone" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Repita a senha" aria-label="Repita a senha"
            aria-describedby="basic-addon1">
        </div>

        <button type="submit" class="btn btn-success container-fluid">Cadastrar</button>

        <div class="container mt-3">
            <!-- <a class="nav-link" [routerLink]="['/login']">Login</a> -->
          Já tem cadastro? <a href="/login">Acesse aqui!</a>
        </div>
      </form>
    </div>
  </div>
</div>