<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-10 col-lg-7 mt-5 text-center bumblebee-box">

      <h2 class="title m-4"><i class="fa fa-user mr-2"></i> Seu perfil</h2>

      <hr />

      <div class="row mt-5">
        <div class="col col-md-6 text-right bumblebee-perfil-divisor">
          <p><strong>Nome de usuário</strong></p>
          <p><strong>E-mail</strong></p>
          <p><strong>Telefone</strong></p>
        </div>

        <div class="col col-md-6 text-left">
          <p>Wagner Esser</p>
          <p>waesser@gmail.com</p>
          <p>+55 (47) 99999-9999</p>
        </div>
      </div>

      <a [routerLink]="['/edit/perfil/user']" class="btn btn-dark mb-3 mt-5">
        <i class="fa fa-pencil mr-2"></i> Editar perfil
      </a><br/>
      <a [routerLink]="['/edit/password/user']">
        <i class="fa fa-key"></i> Alterar senha
      </a>
    </div>
  </div>
</div>