@import "styles/variables";

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    background-color: $secondaryColorDarker;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.main.container {
    padding: 55px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bumblebee-box {
    background-color: $bgContentColor;
    padding: 5%;
    box-shadow: 0px 0px 5px rgb(192, 192, 192);
    
    @media (min-width: $smSize){
        padding: 80px;
    }
}

.bumblebee-icon-join {
    font-size: 80%;
    margin-left: -6px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

// ============ AUTO CONTRASTE ============ //

.autoContraste * {
    background-color: $mainColorDarker !important;
    color: white !important;
    border-color: white !important;
    .text-muted { color: white !important; }
    .main.container { background-color: none !important; }
    a { color: yellow !important; }
    a:hover { color: white !important; }
    .btn {
        background-color: whitesmoke !important;
        color: $mainColorDarker !important;
    } 
    .btn:hover {
        background-color: $mainColorDarker !important;
        color: whitesmoke !important;
    }
    ::-webkit-input-placeholder { color: white !important; }     
    :-moz-placeholder { color: white !important; }
    ::-moz-placeholder { color: white !important; }
    :-ms-input-placeholder { color: white !important; }
}