@import "../../../styles/variables";

.my-footer {
    background-color: #1c2331;
    color: white;
}

.my-footer a {
    color: rgb(195, 205, 50);
}

.my-footer hr {
    width: 60px;
    border-color: rgb(195, 205, 50);
}