<footer class="page-footer font-small my-footer pt-1 mt-5">

  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">

      <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold"><fa name="user-secret"></fa> Nossa missão</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p>Auxiliar as pessoas a encontrarem seus bichinhos de estimação que encontram-se perdidos,
          procurar um novo bichinho para seu lar ou até mesmo ajudar alguém a encontrar um bichinho
          de estimação que você tenha encontrado.</p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold"><fa name="users"></fa> Parceiros</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p><a href="#!">ASAAS</a></p>
        <p><a href="#!">Becomex</a></p>
        <p><a href="#!">Code:Nation</a></p>
        <p><a href="#!">Conta Azul</a></p>
        <p><a href="#!">Treasy</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold"><fa name="at"></fa> Contato</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto">
        <p><i class="fa fa-map-marker mr-3"></i> Joinville, SC</p>
        <p><i class="fa fa-envelope mr-3"></i> bumblebee@gmail.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 55 47 99999 9999</p>
      </div>

    </div>

    <div class="footer-copyright text-center py-3">2018 @
      <a href="https://www.codenation.com.br/acceleration/joinville/index.html"> Academia Dev Joinville</a>
    </div>

  </div>
</footer>