@import "../../../styles/variables";

.my-footer {
    background-color: #1c2331;
    color: white;
}

.my-footer a {
    color: yellowgreen;
}

.my-footer hr {
    width: 60px;
    border-color: yellowgreen;
}